/* Custom Scrollbar Styles */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #f1c40f;
    border-radius: 10px;
    border: 2px solid #121212;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ffd700;
}

/* For Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #f1c40f #1e1e1e;
}
